.main {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.toolbarContainer {
  display: flex;
  background-color: lightgray;
  height: 50px;
  width: 100%;
  position: fixed;
}

.toolbarTitle {
  margin: auto auto auto 12px;
  width: 250px;
  font-weight: 600;
  font-size: x-large;
}

.toolbarTabsContainer {
  display: flex;
  margin: auto auto auto -270px;
  width: 25%;
  justify-content: space-between;
}

.tab {
  font-size: x-large;
  font-weight: 300;
  color: gray;
}

.activeTab {
  font-size: x-large;
  font-weight: 600;
  color: black;
}

.sectionContainer {
  display: flex;
  height: 100%;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
}

.heroTitleContainer {
  margin: -20% auto 0 30%;
}

.heroTitleText {
  font-size: 80px;
  font-weight: 600;
}

.heroDescriptionContainer {
  width: 600px;
  margin:0 auto 0 30%; 
}

.heroDescriptionText {
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.heroRight {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
}

.logo {
  object-fit: contain ;
  height: 450px;
  margin: 35% auto auto -10%;
  z-index: 0;
  opacity: 0.15;
}

.tablesColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.qrContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderCell {
  height: 48%;
  width: 100%;
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
}

.orderHeadingContainer {
  background-color: lightgray;
  padding: 6px;
}

.orderHeading {
  font-size: large;
  font-weight: 600;
  background-color: lightgray;
}

.orderItemsContainer {
  padding: 6px;
}

.orderItemCell {
  margin: 6px auto 6px 6px;
  display: flex;
  flex-direction: column;
}

.orderItemInfoRow {
  display: flex;
}

.orderItemQuantity {
  margin-right: 12px;
  color: black;
}

.orderItemTitle {
  color: black;
}

.orderItemComments {
  color: darkgray;
  font-style: italic;
}

.orderTimeElapsedContainer {
  margin: auto 0 0 0;
  background-color: lightgreen;
  height: 6%;
  display: flex;
}

.orderTimeElapsed {
  color: black;
  font-size: large;
  margin: auto 12px auto auto;
}

.kitchenColumn {
  height: auto;
  width: 19%;
  margin:  50px 0.5% 0 0.5%;
  display: flex;
  flex-direction: column;
}

.sectionOneContainer {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 2%;
}


.descriptionContainer {
  grid-column: 4/10;
  grid-row: 1;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 100px;
  color: black;
  font-size: 1.2em;
}


.qrImage {
  object-fit: contain ;
  height: 200px;
}

.qrName {
  color: black;
  font-size: x-large;
  margin-bottom: 12px;
  font-weight: 600;
}

.shoppingCartIcon {
  float: right;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .shoppingCartIcon {
    display: block;
    margin: 0 auto;
  }
}


.menuTable {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding-bottom: 3em;
}

.menuSectionTitle {
  text-align: center;
  padding-top: 1.7em;
}

@media (max-width: 768px) {
  .menuTable {
    display: block;
  }
}

.menuTableCell {
  display: flex;
  max-height: calc(100vh / 6);
  overflow: hidden;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.menuTableCellImage {
  width:30%;
  height: 100%;
  object-fit: contain;
}

.menuTableCellTextContainer {
  width: 75%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuTableCellTitle {
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
}

.menuTableCellPrice {
  font-style: italic;
  text-align: right;
}

.menuTableCellDescription {
  margin-top: 2%;
  font-size: 1em;
}


.menuNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: white;
}

.menuNavigationItem {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}


.cartButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 5px #ccc;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
}

.itemCount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kitchenTableContainer {
  position: absolute;
  height: 35%;
  width: 100%;
  padding: 15px;
}

.kitchenTableCellContainer {
  display: flex;
  padding: 5px;
  height: 10%;
  margin: 5px;
  color: black;
  font-size: 1.1em;
}

.kitchebTableHeader {
  display: flex;
  padding: 5px;
  height: 10%;
  margin: 5px;
  border-style: solid;
  background: lightGrey;
  font-size: 1.2em;
  font-weight: bold;
}

.kitchenTableCellTable {
  margin-top: auto;
  margin-bottom: auto;
  width: 10%;
}

.kitchenTableCellQuantity {
  margin-top: auto;
  margin-bottom: auto;
  width: 5%;
}

.kitchenTableCellTitle {
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
}

.kitchenTableCellComment {
  margin-top: auto;
  margin-bottom: auto;
  width: 43%;
}


.kitchenTableCellTime {
  margin-top: auto;
  margin-bottom: auto;
  width: 12%;
}

.modalBackground {
  background-color: black;
  opacity: 0.5;

  z-index: 0;
  height: 100vh;
  width: 100vw;
  position: fixed; top: 0; left:0;
}

.modal {
  height: 60%;
  width: 90%;
  border-radius: 25px;
  background-color: white;
  text-align: center;
  position: fixed; top:25vh; left:5vw;
  padding: 10px;
}

.addItemModalImage {
  width: 60%;
  height: 30%;
  object-fit: contain;
}

.addItemModalTitle {
  margin-top: 10px;
}

.addItemModalDescription {
  margin-top: 10px;
}

.addItemModalComments {
  height: 15%;
  width: 80%;
  margin-top: 10px;
}

.addItemModalQuantityControlsContainer {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
}

.quantityButton {
  width: 30%;
  margin: 5%;
  border-radius: 25px;
  background: green;
  color: white;
  border-style: none;
  font-size: 1.2em;
}

.quantity {
  width: 20%;
  margin: auto;
  font-size: 1.5em;
}

.addToCartButton {
  height: 8%;
  width: 35%;
  border-radius: 25px;
  background: green;
  color: white;
  border-style: none;
  font-size: 1.2em;
}

.closeAddItemModalButton {
  position: absolute; right: 2%; top:2%;
  width: 6%;
  height: 6%;
  background: none;
  border-style: none;
  font-size: 1.2em;
}

.cartTable {
  margin-top: 10%;
  height: 62%;
  overflow-y: auto;
  overflow-x: hidden;
}

.cartTableCell {
  display: flex;
  margin-bottom: 10px;
  height: 8vh;
}

.cartTableCellQuantityContainer {
  margin-top: auto;
  margin-bottom: auto;
  width: 15%;
}

.cartTableCellTitleCommentContainer {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  width:60%;
  height: auto;
}

.cartTableCellPriceContainer {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  width:12%;
}

.cartTableRemoveItemContainer {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  width:12%;
}

.cartTableCellRemoveItemButton {
  background: none;
  border-style: none;
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

.viewCartTotalContainer {
  display: flex;
  margin-top: 10px;
}

.viewCartTotalLabel {
  font-weight:bold;
  font-size: 1.2em;
  width:25%;
  margin-left: auto;
}

.viewCartTotal {
  font-size: 1.2em;
  width:25%;
}

.goToCheckoutButton {
  height: 8%;
  width: 50%;
  border-radius: 25px;
  background: green;
  color: white;
  border-style: none;
  font-size: 1.2em;
  margin-top: 8%;
}

.closeViewCartModalButton {
  position: absolute; right: 2%; top:2%;
  width: 6%;
  height: 6%;
  background: none;
  border-style: none;
  font-size: 1.2em;
}

.submitPaymentButton {
  height: 8%;
  width: 50%;
  border-radius: 25px;
  background: green;
  color: white;
  border-style: none;
  font-size: 1.2em;
  margin-top: 2%;
}

.paymentTotalContainer {
  display: flex;
  margin-top: 2px;
}

.paymentTotalLabel {
  font-weight:bold;
  font-size: 1.1em;
  width:25%;
  margin-left: auto;
}

.paymentTotal {
  font-size: 1.1em;
  width:25%;
}

.paymentTable {
  margin-top: 10%;
  height: 62%;
  overflow-y: auto;
  overflow-x: hidden;
}

.paymentTableCell {
  display: flex;
  margin-bottom: 10px;
  height: 8vh;
}
.paymentTableCellQuantityContainer {
  margin-top: auto;
  margin-bottom: auto;
  width: 15%;
}
.paymentTableCellTitleCommentContainer {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  width:65%;
  height: auto;
}
.paymentTableCellPriceContainer {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  width:15%;
}

.thankYouAnimation {
  margin-top: 5%;
}

.preparedText {
  margin-top: 7%;
  font-size: 1.2em;
}

.confirmedPaymentOkButton {
  height: 3.5vh;
  width: 30%;
  border-radius: 25px;
  background: green;
  color: white;
  border-style: none;
  font-size: 1.2em;
  margin-top: 7%;
}

